html,
body {
    margin: 0;
    background-image: url(./assets/meadow.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 125%;
    font-family: 'Press Start 2P', cursive;
}

.forest {
    background-image: url(./assets/forest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sun {
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 40px 15px rgb(234, 216, 54);
    border-radius: 80px 10px 200px 0;
    background-color: rgb(253, 204, 27);
    position: absolute;
    top: -10px;
    left: -100px;
}

.bg {
    display: none;
}

.instructions {
    background-color: black;
    opacity: 0.7;
    border-radius: 30px;
    color: white;
    width: 300px;
    height: 200px;
    font-size: .9rem;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 20px;
}

button {
    border: 1px solid black;
    font-family: 'Press Start 2P', cursive;
    font-size: .4rem;
    padding: 5px;
    z-index: 10;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.changeBackground {
    position: absolute;
    top: 10px;
    right: 10px;
}

.playPause {
    position: absolute;
    top: 10px;
    right: 320px;
}

.clear {
    position: absolute;
    top: 10px;
    right: 215px;
}

/* MODAL */
.credits {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

button:hover,
button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 500px) {

    .instructions {
        width: 200px;
        font-size: .7rem;
    }

    .bg {
        display: block;
    }

    .changeBg {
        display: none;
    }

    .clear {
        right: 50px;
    }

    .playPause {
        right: 150px;
    }
}