html,
body {
    margin: 0;
    background-image: url(./assets/meadow.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sun {
    width: 200px;
    height: 200px;
    border: 1px solid #fffc33;
    border-radius: 90px 0 190px 0;
    background-color: #fffc33;
    position: absolute;
    top: 0;
    left: -100px;
}